@CHARSET "ISO-8859-1";

body {
	background-color: #F3EFE0;
	color: black;
	font: bold 24px/32px Georgia, serif;
}

.nav {
	font: bold 14px/22px Georgia, serif;
}

.footer {
	text-align: center;
	padding: 5px 0;
	margin-top: 5px;
	border-top: 2px solid #e5e5e5;
	background-color: #f5f5f5;
}

#table1,#table2 {
	font-size: 7pt;
	font-weight: bold;
	margin: 2px;
}

.navbar-default .navbar-nav>li>a {
	font: bold 20px/32px Georgia, serif;
}

.navbar {
	padding: 0;
	list-style: none;
	width: 400px;
	margin: 0 auto;
	background: url('../images/blue.png') repeat;
}

.sidebar-nav {
	float: left;
}

h1 {
	font-size: 30pt;
	font-weight: lighter;
	margin: 10px;
}

h2 {
	font-size: 26pt;
	font-weight: thicker;
	margin: 70px;
}

h3 {
	font-size: 21pt;
	font-weight: lighter;
	margin: 10px;
}

h4 {
	font-size: 19pt;
	font-weight: lighter;
	margin: 10px;
}

h5 {
	font-size: 17pt;
	font-weight: lighter;
	margin: 10px;
}

h6 {
	font-size: 13pt;
	font-weight: lighter;
	margin: 10px;
}

div,p {
	font-size: 11pt;
	font-weight: lighter;
	margin: 5px;
}

.jumbotron {
	margin-top: 5%;
	margin-right: 15%;
	margin-left: 15%;
}

.page1 {
	background: url('../images/yellow.png') repeat;
}

.page2 {
	background: url('../images/green.png') repeat;
}

#calculatingForm {
	margin-left: 12%;
	width: 55%;
}

.header {
	margin-left: 10%;
}

th,td {
	border: 2px solid #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02);
}

input[type="text"] {
	width: 90px;
	height: 35px;
	font-size: 10pt;
}